body {
  background-color: rgb(233, 230, 217);
  margin: auto;
  text-align: center;
  font-size: 18px;
}

p {
  margin: 0px;
}

.div {
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 5px solid rgb(198, 155, 123);
  text-align: center;
  background-color: rgb(58, 56, 69);
  color: rgb(198, 155, 123);
}

.imge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-color: rgb(198, 155, 123);
  border-style: double;
  margin-top: 10px;
}

.paragrafo {
  margin: 40px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 60px;
  text-align: left;
}

.marginimg {
  height: 150px;
  width: 100%;
}

.lista h3 {
  border-bottom: 2px solid rgb(130, 126, 148);
  padding-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.lista {
  padding-bottom: 40px;
  margin-bottom: auto;
}

.footer {
  background-color: rgb(58, 56, 69);
  padding: 30px;
  margin-top: 3px;
  border-top: 5px solid rgb(198, 155, 123);
  color: white;
}

.prodape {
  text-align: left;
}

.nav2 {
  text-align: left;
  margin-top: 10px;
}

.seta {
  width: 40px;
}

.linguagens h3 {
  border-bottom: 2px solid rgb(130, 126, 148);
  padding-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 90px;
}

.linguagens {
  padding-bottom: 200px;
  margin-bottom: auto;
  padding-top: 200px;
}
